<div class="animated fadeIn">
  <div class="row">
    <h1>Pipline</h1>
  </div>

  <div class="row dragdrop">

    <div class="col-sm-6 col-md-3">
      <div class="card-header">
        Qualification
      </div>
      <div class="card-body">

        <div class="row dragdrop">
          <div class="col-md-12">
            <div class="card card-accent-secondary">
              <div class="card-header drag">
                Bank of America
              </div>
              <div class="card-body">
                blah blah
              </div>
            </div>
          </div>
        </div>

        <div class="row dragdrop">
          <div class="col-md-12">
            <div class="card card-accent-secondary">
              <div class="card-header drag">
                Chase Manhattan
              </div>
              <div class="card-body">
                blah blah
              </div>
            </div>
          </div>
        </div>

        <div class="row dragdrop">
          <div class="col-md-12">
            <div class="card card-accent-secondary">
              <div class="card-header drag">
                Google
              </div>
              <div class="card-body">
                blah blah
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card-header">
        Pitch / Quote
      </div>
      <div class="card-body">

        <div class="row dragdrop">
          <div class="col-md-12">
            <div class="card card-accent-secondary">
              <div class="card-header drag">
                Yahoo!
              </div>
              <div class="card-body">
                blah blah
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card-header">
        Negotiation
      </div>
      <div class="card-body">
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card-header">
        Closed
      </div>
      <div class="card-body">
      </div>
    </div>

  </div>
</div>
