<div class="animated fadeIn">
  <div class="pipelineTable"[hidden]="isClientView">
    <div class="row">
      <h1 class="headerTitle">
        <i class="icon-people"></i>
        Connections
      </h1>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Favorite</th>
            <th>Client</th>
            <th>Our Representative</th>
            <th>Their Representative</th>
            <th>Strength</th>
            <th># of Connections</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clientArray; let i = index" class="clients-table-row" (click)="clientClicked($event)">
            <th><i class="fa fa-star-o"> </i></th>
            <td>{{client.name}}</td>
            <td>{{client.connections[0].ourRepresentative}}</td>
            <td>{{client.connections[0].theirRepresentative}}</td>
            <td>
              <div class="progress">
                <div [ngClass]="(client.connections[0].strength > 7) ? 'progress-bar bg-success' : (client.connections[0].strength > 3) ? 'progress-bar bg-warning' : 'progress-bar bg-danger'" role="progressbar" [style.width]="client.connections[0].strength * 10 + '%'" [attr.aria-valuenow]="client.connections[0].strength" aria-valuemin="0" aria-valuemax="10">{{client.connections[0].strength}}</div>
              </div>
            </td>
            <td>{{client.connections.length}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clientTable" [hidden]="!isClientView">
    <client-component #clientView [client]="activeClient"></client-component>
    <button type="button" (click)="backButtonClicked()" class="btn btn-secondary backButton">Back</button>
  </div>
</div>
