<div class="animated fadeIn">
  <div class="pipelineTable"[hidden]="isClientView">
    <div class="row">
      <h1>Connections</h1>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Favorite</th>
        <th>Client</th>
        <th>Our Representative</th>
        <th>Their Representative</th>
        <th>Strength</th>
        <th># of Connections</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="clientClicked()">
        <th scope="row">
          <i class="fa fa-star-o"> </i>
        </th>
        <td>Apple</td>
        <td>Kushan</td>
        <td>Fabio</td>
        <td><span class ="badge badge-success">.7</span></td>
        <td>5</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="clientTable" [hidden]="!isClientView">
    <div class="row">
      <h1>Client</h1>
    </div>
    <div class="animated fadeIn">

      <div id="main">
        <div id="title">
          <img id="icon" src="../../img/BOAicon.png" height="40" width="40"/>
          <h2 id="clientName"> Bank of America</h2>
        </div>
        <section ng-show="0" id="relationship_table">
          <div class="title_details ">
            <h4 class="pull-left">connections</h4>
            <div>
              <ul class="nav nav-tabs pull-right">
                <li class="nav-item">
                  <a data-target="#relation_table_view" data-toggle="tab" class="nav-link active" >table</a>
                </li>
                <li class="nav-item">
                  <a data-target="#relation_graphic_view" data-toggle="tab" class="nav-link" >graphic</a>
                </li>
              </ul>
              <!--<an-tablist #list="anTabList" anListClass="diff-class"></an-tablist>-->
              <!--<an-tabs [anList]="list">-->
              <!--<div *anTabDefault="tabOne">-->
              <!--The Contents of Tab one-->
              <!--<div anNextTab="hello">Next</div>-->
              <!--</div>-->
              <!--<div *anTab="'hello'">-->
              <!--The Contents of Tab Two-->
              <!--<div [anNextTab]="tabOne"></div>-->
              <!--</div>-->
              <!--</an-tabs>-->
            </div>
          </div>
          <div id="relation_table_view">
            <table class="table">
              <thead class="thead-inverse">
              <tr>
                <th>Cur Representatives</th>
                <th>Client Representatives</th>
                <th>strength</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>Fabio</th>
                <th>Austin</th>
                <th>0.5</th>
              </tr>
              </tbody>
            </table>
          </div>
          <div id="relation_graphic_view">


          </div>
        </section>
        <section>
          <h4 class="title_details">
            Activities
          </h4>
        </section>
      </div>
    </div>
    <button type="button" (click)="backButtonClicked()">Back</button>
  </div>
</div>

